.a{
    padding: 30px;
}
input{
    width: 70px;
    height: 70px;
    margin: 10px;
    font-size: 40px
}

.but{
    margin-left: 450px;
    margin-right: 150px;

}
.inputs{
    margin-left:  200px;
}